
.btn {
  display: flex;
  background:#3399ffb7;
  border: 1px solid #3399ffb7;
  border-radius: 2px;
  font-family: "WorkSans";    
  padding: 5px 10px;
  /* width: 110px; */
  text-decoration: none;
  color: #fff; 
  cursor: pointer;
  font-size: 16px;
  outline: none;
  margin-bottom: 50px;
}

.btn:hover {
  background: #fff;
  color: #3399ffb7;
}

.add_icon {
  margin-right: 8px;
}

.back_icon {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  display: inline;
  justify-content: center;
}

.back_icon:hover {
  text-decoration: none;
  color: #000;
}